.AtextCentering {
  text-align: center;
}/*this class is a tool that can be used through out entire app*/

.DevMeet {
  /* height: 40vmin; */
  pointer-events: visiblePainted;
  display:flex;
  justify-content:flex-end;
  align-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .DevMeet.logo {
    animation: DevMeet-logo-comeUpWithSomethingCool infinite 20s linear;
  }
}

/* .DevMeet-NavBar {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: an undisclosed amount;
} */

.App-link {
  color: #61dafb;
}/*what purpose if any?*/ 

@keyframes DevMeet-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
